.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    top: 430px;
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    left: 150px;
    top:350px;
    z-index: 1;
  }
  
  .speech {
    font-size: 15px;
    position:absolute;
    top: 380px;
    left:170px;
    z-index: 2;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 350px;
  }